{{!-- {{yield}} --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
				{{link-to "JS Calculator" "home" classNames="navbar-brand"}}

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
								<li class="nav-item">
										{{link-to "Home" "home" classNames="nav-link"}}
								</li>
								<li class="nav-item">
										{{link-to "Calculator" "calculator" classNames="nav-link" id="goToCalculator"}}
								</li>    
						</ul>
				</div>
		</div>
</nav>