{{!-- {{yield}} --}}
<nav class="navbar navbar-expand w-100">
		<div class="container">
				<ul class="navbar-nav mx-auto">
						<li class="nav-item">
								{{link-to "Home" "home" classNames="nav-link px-3"}}
						</li>
						<li class="nav-item">
								{{link-to "Calculator" "calculator" classNames="nav-link px-3" id="goToCalculator"}}
						</li>    
				</ul>
		</div>
</nav>