<section class="jumbotron text-center">
	<h1>JS Calculator</h1>
	<p>A Web Based Calculator Using Ember.JS</p>
</section>
<section class="container text-center">
	<h2>Choose Your Theme</h2>
	<article class="row mt-5">
		<div class="col-4">
				<h3>Light</h3>
				<button class="btn btn-primary">Light Theme</button>
		</div>
		<div class="col-4">
				<h3>Dark</h3>
				<button class="btn btn-primary">Dark Theme</button>
		</div>
		<div class="col-4">
				<h3>Colors</h3>
				<button class="btn btn-primary">Colors Theme</button>
		</div>
	</article>
</section>