<section class="jumbotron text-center">
		<h1>JS Calculator</h1>
		<p>A Web Based Calculator Using Ember.JS </p>
</section>
<article class="container"> 
		<h1 class="text-danger">Current: {{activeTheme}}</h1>
		<Theme @themes={{this.model}} @activeTheme={{activeTheme}} @onChange={{action (mut activeTheme) "goToCalculator" }} />
</article>